<section class="main-section">
  <!-- Title will come here  -->
  <div class="title">
    <h1>WELCOME TO TASK MANAGER</h1>
  </div>

  <!-- To Do List form come here -->
  <div class="form-container">
    <form [formGroup]="toDoListForm" (ngSubmit)="submitTask()">
      <div>
        <input type="text" placeholder="Enter Task Name" formControlName="taskName">
      </div>

      <div>
        <textarea type="textarea" placeholder="Enter Task Description" formControlName="description"></textarea>
      </div>
      <div class="lable-text">
        <p>Select priority</p>
      </div>
      <div class="radio-section">
        <label>
          <input type="radio" formControlName="priority" value="High" /> High
        </label>
        <label>
          <input type="radio" formControlName="priority" value="Medium" /> Medium
        </label>
        <label>
          <input type="radio" formControlName="priority" value="Low" /> Low
        </label>
      </div>
      <div class="lable-text" style="margin-bottom: 12px;">
        <p>Select Deadline</p>
      </div>
      <div>
        <input type="date" placeholder="Select Deadline" formControlName="deadline">
      </div>

      <div>
        <button>ADD TASK</button>
      </div>

    </form>
  </div>
</section>


<section class="task-section">
  <div class="task-title">
    <h2>TASK LIST</h2>
  </div>

  <div class="table-section" *ngIf="tasks.length > 0">
    <div class="sort-section">
      <p style="font-size: 18px; font-weight: 700;">Sort The Task By Priority :</p>
      <p class="sort-btns" (click)="sortTasks('Low')" style="color: green;">Low</p>
      <p class="sort-btns" (click)="sortTasks('Medium')" style="color: rgb(199, 130, 2);">Medium</p>
      <p class="sort-btns" (click)="sortTasks('High')" style="color: rgb(164, 3, 3);">High</p>
      <p class="sort-btns" (click)="showAll()">Show All</p>
    </div>
    <table>
      <tr>
        <th class="srn">Sr. No.</th>
        <th class="tn">Task Name</th>
        <th class="d">Description</th>
        <th class="p">Priority</th>
        <th class="dl">Deadline</th>
        <th class="del">Delete</th>
      </tr>
      <!-- Task list will come here -->
      <tr *ngFor="let task of tasks; let i = index">
        <td class="srn">{{i + 1}}</td>
        <td class="tn">{{task.taskName}}</td>
        <td class="d" (click)="viewTask(task)" class="view-btn">View</td>
        <td class="p">{{task.priority}}</td>
        <td class="dl">{{task.deadline}}</td>
        <td class="del" (click)="deleteTask(i)">Delete</td>
      </tr>
    </table>
  </div>

</section>

<!-- Modal Section -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <div>
      <h2>TASK DETAILS</h2>
      <p><b>Task Name :</b> {{ selectedTask.taskName }}</p>
      <p><b>Description :</b> {{ selectedTask.description }}</p>
      <p><b>Priority :</b> {{ selectedTask.priority }}</p>
      <p><b>Deadline :</b> {{ selectedTask.deadline | date: 'dd-MM-yyyy' }}</p>
    </div>
    <div (click)="closeModal()" class="close-box">
      <p>X</p>
    </div>
  </div>
</div>